body{
    margin: 0;
    padding: 0;
    /* height: 100%; */
}  
.rewardsec{
    background-color: #020441;
    background-size: cover;
    height: 610px;
}

.banner1{
    width: 100%;
}

.colspace{
    margin-left: -12px;
}

.redecnt{
    padding-top: 47px;
    padding-left: 46px;
}
.earnpointcnt{
    font: normal normal normal 15px/25px Arial;
    color: #223A53;
}

.earnpointtitle{
    font-size: 17px;
    font-weight: 700;
    color: #ff8a23;
}

.earnuptoctnt{
    top: 97px;
    left: 125px;
}

.surveyctnt{
    font-size: 9px;
}

.pointscount{
    color: #ff8a23;
}

.earnhead{
    font-weight: 700;
    text-align: center;
    padding-top: 78px;
    font-size: 19px;
    color: #ff8a23;
}

.onclkbtn{
    color: #ff8a23 !important;
    background-color: white !important;
}

.indlist{
    list-style: none;
}

.availpoints{
    font-size: 12px;
}

.staricon{
    position: absolute;
    background-color: #FFC727;
    border: 1px solid #FFC727;
    color: white;
    border-radius: 50%;
    top: 0;
    /* width: 21px; */
    padding-left: 1px;
    /* height: 27px; */
    padding-right: 1px;
    left: 0;
}

.staricon2{
    position: absolute;
    background-color: #FFC727;
    border: 1px solid #FFC727;
    color: white;
    border-radius: 50%;
    top: 94;
    /* width: 21px; */
    padding-left: 1px;
    /* height: 27px; */
    padding-right: 1px;
    left: 0;
}

.staricon3{
    position: absolute;
    background-color: #FFC727;
    border: 1px solid #FFC727;
    color: white;
    border-radius: 50%;
    top: 190;
    /* width: 21px; */
    padding-left: 1px;
    /* height: 27px; */
    padding-right: 1px;
    left: 0;
}

.staricon4{
    position: absolute;
    background-color: #FFC727;
    border: 1px solid #FFC727;
    color: white;
    border-radius: 50%;
    top: 280;
    /* width: 21px; */
    padding-left: 1px;
    /* height: 27px; */
    padding-right: 1px;
    left: 0;
}

.steplist{
    overflow-y: auto;
    overflow-x: hidden;
}

.gifttitle{
    font-size: 15px;
    color:#ff8a23;
    font-weight: 600;
}

.redeembtn{
    border: none;
    color:#ff8a23;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
}

.indlist::before{
    content:"";
    border: 1px solid gray;
    position: absolute;
    left: 10px;
    height: 97px;
}
.pointbanner{
    background-image: url("../img/pointsBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-clip: content-box;
    /* padding-bottom: 20px; */
    /* height: 270px; */
    margin-top: 10px;
    
}

.earnuptoimg{
    background-image: url("../img/survey-point.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    /* background-clip: content-box; */
    padding-bottom: 20px;
    height: 182px;
    margin-top: 10px;
}


.columnsec{
    --bs-gutter-x: 0px;
}
.earnmore{
    background-image: url("../img/123.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-clip: content-box;
    padding-bottom: 20px;
    height: 180px;
    border-radius: 5px;
    margin-top: 10px;
    
}

.pointsec{
    top: 19px;
    left: 570px;
    display: contents;
}

.pointint{
    font-size: 136px;
}

.rewardes{
    font-size: 20px;
}

.cardone{
    margin-left: 10px;
    width: 420px;
    border-radius: 8px;
}

.cardtwo{
    margin-left: 14px;
    width: 420px;
    border-radius: 8px;
}

.cardthree{
    margin-left: 18px;
    width: 420px;
    border-radius: 8px;
}

@media (max-width: 1199px){

    .cardone{
        
        width: auto;
    }

    .cardthree{
        
        width: auto;
    }

    .cardtwo{
        width: auto;
    }

    .pointsec {
        top: 19px;
        left: 444px;
    }

    .pointint{
        font-size: 136px;
    }

    .gifttitle{
        font-size: 11px;
    }

    .availpoints{
        font-size: 10px;
    }

    .earnpointcnt {
        font: normal normal normal 12px/23px Arial;
    }

    /* .earnuptoctnt {
        top: 95px;
        left: 91px;
    } */
}

@media (max-width: 991px) { 

    .redecnt{
        padding-top: 19px;
    }

    .redeembtn{
        padding-top: 21px;
    }

    .cardone{
        margin-top: 15px;
        width: auto;
    }

    .cardthree{    
        width: auto;
        margin-top: 15px;
    }

    .cardtwo{
        width: auto;
        margin-top: 15px;
    }

    .rewardsec{
        height: 100pc;
    }

    

    .pointsec {
        top: 42px;
        left: 387px;
    }

    .pointint{
        font-size: 136px;
    }

    .earnuptoimg{
        height: 201px;
        background-size: contain;
    }

    .earnuptoimg1{
        height: 210px;
        background-size: contain;
    }

    .colspace{
        margin-left: 0px;
    }

    /* .earnuptoctnt {
        top: 105px;
        left: 136px;
    } */

    .earnmore{
        padding-left: 5px;
       
}

    .availpoints{
        font-size: 12px;
    }

    .earnhead{
        padding-top: 90px;
    }

    .gifttitle{
        font-size: 16px;
    }
    }


@media (max-width: 767px){
    .pointsec {
        top: 31px;
        left: 271px;
    
    }

    .pointint{
        font-size: 136px;
    }

    .earnuptoimg {
        height: 227px;
    }

    .earnuptoimg1{
        height: 237px;
    }

    /* .earnuptoctnt {
        top: 112px;
        left: 57px;
    } */

    .earnmore{
        height: 232px;
    }
}

@media (max-width: 575px){
    .pointsec {
        top: 31px;
        left: 179px;   
    }

    .availpoints{
        font-size: 8px;
    }

    .redeembtn {
        padding-top: 0px;
    }

    .gifttitle {
        font-size: 12px;
    }

    .pointint{
        font-size: 136px;
    }

    .cardone{
        margin: 15px 10px;
    }

    .cardtwo{
        margin: 15px 10px;
    }

    .cardthree{
        margin: 15px 10px;
    }

    /* .earnuptoctnt {
        top: 79px;
    left: 76px;
    } */

    .availpoints{
        font-size: 9px;
    }

    .earnhead {
        padding-top: 58px;
    }

    .earnmore {
        height: 185px;
    }

    .itemtwo{
        margin-top: 20px;
    }

    .gifttitle{
        font-size: 11px;
    }

    .earnpointcnt{
        font-size: 13px;
    }

    .earnuptoimg{
        height: 164px;
    }

    .earnuptoimg1{
        height: 174px;
    }
}


