body { 
    font-family: Montserrat, sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: Montserrat, sans-serif !important;
    }

.insurancebanner{
    background-image: url("../img/banner.PNG");
    background-size: cover;
    background-repeat: no-repeat;
}

.bannercontent{
    background-color: #DCDCDC;
    padding-left: 40px;
}

.hghwrd{
    color: #ff8a23;
}

.requestbutton{
    padding: 10px 52px;
    background-color: #FFA101;
    font-size: 20px;
    margin-top: 51px;
    margin-bottom: 21px;
}

.bannerheading{
    padding: 54px 0px 10px 0px;
    color: black;
    font-weight: 700;
}

.bannertitle{
    font-weight: 400;
    font-size: 21px
}

.logostyle{
    width: 245px;
    padding-top: 63px;
}

.protcttitle{
    font-size: 46px;
    color: black;
}

.protctsec{
    padding-top: 80px;
}

.middlesec{
    padding: 95px 0px;
}

.protctpara{
    font: normal normal normal 19px/22px Montserrat;
    padding-top: 15px;
}

.cacontent{
    color: #FFA101;
    font-size: 26px;
    padding-top: 22px;
    font-weight: 700;
}

.imgcnt{
    padding: 0px 74px;
}

.imgpara{
    padding: 25px 84px;
}

.imgtitle{
    font-size: 18px;
    padding-top: 19px;
}

.tabslct{
    color: black !important;
    
}

.tabsec a:active{
    background-color: #D3D3D3 !important;
    color: #FFA101 !important;
}

.tabimage{
    padding-left: 80px;
}

.btnlink{
    color: black;
    font-weight: 700;
    padding: 8px 100px;
}

.btnlink.active{
    color: #FFA101 !important;
    background-color: #E4E4E4 !important;

}

.btnlink.active:hover{
    color: #FFA101 !important;

}

.btnlink:hover{
    color: black !important;
}

.tabhead{
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 50px;
}

.enqirytitle{
    font-size: 20px;
    color: black;
    font-weight: 700;
}

.enqirycnt{
    font-size: 16px;
    color: black;
}

.navtabpart{
    background-color: #F7F7F8aa;
    padding-top: 95px;
}

.disclaimrtitle{
    color: black;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 700;
}

.warngheading{
    font-style: italic;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.disclaimrcnt{
    font-style: italic !important;
    color: black;
    font-size: 14px;
}

.querylist{
    list-style: none;
}

.querylist::marker{
    background-color: #FFC727 !important;
}

.queryno{
    background: #ffcc00;
    display: inline-block;
    width: 30px;
    padding-top: 5px;
    color: white;
    height: 30px;
    text-align: center;
    border-radius: 80px;
    font-size: 15px;
    font-weight: 700;
    /* position: absolute;
    top: 0;
    left: 0; */
}

.qurylistcnt{
    padding-left: 39px;
}

.qurylistone{
    left: -2px;
    top: -4px;
}

.qurylisttwo{
    left: -2px;
    top: -4px;
}

.qurylistthree{
    left: -2px;
    top: -4px;
}


@media (max-width: 1200px) { }

@media (max-width: 992px) { 
    .protctpara{
        font: normal normal normal 15px/22px Montserrat;
    }

    .protcttitle{
        font-size: 40px;
    }

    .imgcntsec{
        /* display: flex; */
        display: inline;
    }
 }

@media (max-width: 768px) {
    .protcttitle{
        font-size: 30px;
    }
    
    .protctpara{
        font: normal normal normal 11px/22px Montserrat;
    }

    .imgcntsec{
        /* display: flex; */
        display: block;
    }
 }


@media (max-width: 576px) {
    .logostyle{
        width: 207px;
    }

    .requestbutton{
        padding: 10px 18px;
    }

    .imgcntsec{
        /* display: flex; */
        display: block;
    }
 }
